html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a:visited {
    color: blue;
}

.show-on-parent-hover {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

*:hover > .show-on-parent-hover {
    opacity: 1;
}

@media (hover: none) {
    .show-on-parent-hover {
        opacity: 1;
    }
}

/* Dark mode */
@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    a {
        color: oklch(70.71% 0.1512 264.05300810418345);
    }

    a:visited {
        color: oklch(70.71% 0.1512 264.05300810418345);
    }
}
